@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background: cornflowerblue
    }
</style>

<div class="text-center">
    <h1 class="display-8">Tienda Virtual</h1>
    <h1 class="display-8">Trabajo Final</h1>
    <h1 class="display-8">Programación 3</h1>
    <div class="carousel align-content-center"> 
    </div>
</div>